<div id="waitingContainer" style="display: none;">
    <div id="waitingContent">
        <div class="waitingSpinner"></div>
        <div id="waitingTextContainer">
            <h2>잠시만 기다려주세요!</h2>
        </div>
    </div>
</div>